<footer class="column footer center-items">
    <ul>
        <li>
            <h1>Platform</h1>
            <p>Events</p>
            <p>Application Guides</p>
            <p>University Finder</p>
            <p>Student Forum</p>
        </li>
        <li>
            <h1>About</h1>
            <p>This is Stevens' CS546 web development course project. Let us know how we did and how we can improve
                by sending us an email. Thanks for visiting us!</p>
        </li>
        <li>
            <h1>Contact Us</h1>

            <p>Anuja Phadnis<a href="mailto:aphadnis@stevens.edu"> aphadnis@stevens.edu</a></p>
            <p>Han Zheng<a href="mailto:hzheng12@stevens.edu"> hzheng12@stevens.edu</a></p>
            <p>Huijun Sun<a href="mailto:hsun29@stevens.edu"> hsun29@stevens.edu</a></p>
            <p>Monisha Selvamurugan<a href="mailto:mselvamu@stevens.edu"> mselvamu@stevens.edu</a></p>

        </li>
    </ul>
</footer>
<div class="bottom-line center-text">
    <p>Made with ❤️ by Stevens students</p>
</div>