<nav class="nav">
    <ul class="logo">
        <a href="/">dreamhigh</a>
    </ul>
    <ul class="menu">
        <li><a href="/universities">Universities</a></li>
        <li><a href="#">Guides</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="#reg-form">Login</a></li>
        <li><a class="signup-btn" href="#reg-form">Sign Up</a></li>

    </ul>
</nav>