<div class="row center-items">
    <form class="search-box card">
        <div class="search-area">
            <div class="search-filter">
                <label class="search-title" for="search-major">NAME</label>
                <input type="text" name="search-major" id="search-major" size="24" maxlength="32"
                    placeholder="" />
            </div>
            <div class="search-filter-spacer"></div>
            <div class="search-filter">
                <label class="search-title" for="search-degree">COURSE</label>
                <select name="search-degree" id="search-degree">
                    <option value="grad">Masters</option>
                    <option value="gradcert">MBA</option>
                </select>
            </div>
        </div>
        <button class="card-button"><a class="material-icon">search</a> search</button>
    </form>

</div>