<div class="row center-items">
    <form action="/universities/simpleSearch" method="POST" class="search-box card">
        <div class="search-area">
            <div class="search-filter">
                <label class="search-title" for="name">NAME</label>
                <select name="name" id="search-college-name">
                    <option value="computer science">Computer Science</option>
                    <option value="information systems">Information Systems</option>
                    <option value="financial engineering">Financial Engineering</option>
                    <option value="business intelligent & analytics">Business intelligent & Analytics</option>
                    <option value="construction management">Construction Management</option>
                </select>
            </div>
            <div class="search-filter-spacer"></div>
            <div class="search-filter">
                <label class="search-title" for="course">COURSE</label>
                <select name="course">
                    <option value="computer science">Computer Science</option>
                    <option value="information systems">Information Systems</option>
                    <option value="financial engineering">Financial Engineering</option>
                    <option value="business intelligent & analytics">Business intelligent & Analytics</option>
                    <option value="construction management">Construction Management</option>
                </select>
            </div>
        </div>
        <button class="card-button"><a class="material-icon">search</a> search</button>
    </form>

</div>