<div class="row center-items">
    <form class="search-box card">
        <div class="search-area">
            <div class="search-filter">
                <label class="search-title" for="search-major">MAJOR</label>
                <input type="text" name="search-major" id="search-major" size="24" maxlength="32"
                    placeholder="fine art, computer science" />
            </div>
            <div class="search-filter-spacer"></div>
            <div class="search-filter">
                <label class="search-title" for="search-location">LOCATION</label>
                <input type="text" name="search-location" id="search-location" size="24" maxlength="32"
                    placeholder="city, state" />
            </div>
            <div class="search-filter-spacer"></div>
            <div class="search-filter">
                <label class="search-title" for="search-degree">DEGREE</label>
                <select name="search-degree" id="search-degree">
                    <option value="grad">Masters</option>
                    <option value="gradcert">MBA</option>
                </select>
            </div>
        </div>
        <button class="card-button"><a class="material-icon">search</a> search</button>
    </form>

</div>