<div class="row center-items">
    <form class="search-box card">
        <div class="search-area">
            <div class="search-filter">
                <label class="search-title" for="search-course">COURSE</label>
                <select name="search-course" id="search-course">
                    <option value="grad">Masters</option>
                    <option value="gradcert">MBA</option>
                </select>
            </div>
            
            <div class="search-filter-spacer"></div>

            <div class="search-filter">
                <label class="search-title" for="search-gre">GRE SCORE</label>
                <input type="number" name="search-gre" id="search-gre" size="24" maxlength="32" placeholder="4.0" />
            </div>

            <div class="search-filter-spacer"></div>

            <div class="search-filter">
                <label class="search-title" for="search-gpa">GPA</label>
                <input type="number" name="search-gpa" id="search-gpa" size="24" maxlength="32" placeholder="4.0" />
            </div>

            <div class="search-filter-spacer"></div>

            <div class="search-filter">
                <label class="search-title" for="search-expense">EXPENSE</label>
                <input type="number" name="search-expense" id="search-expense" size="24" maxlength="32"
                    placeholder="10,000" />
            </div>

            <div class="search-filter-spacer"></div>

            <div class="search-filter">
                <label class="search-title" for="search-papers">PAPERS</label>
                <input type="number" name="search-papers" id="search-papers" size="24" maxlength="32" placeholder="2" />
            </div>

        </div>
        <button class="card-button"><a class="material-icon">search</a> search</button>
    </form>
</div>