<div class="row signin">
    <div class="column">
        <p class="heading-banner">Join us today!</p>
        <p class="sub-heading-banner">Get help from thousands of aspirants just like you!</p>
    </div>

    <div class="reg-card signin">
        <form id="reg-form" class="column reg-form">
            <div class="reg-logo">
                <a href="/">dreamhigh</a>
            </div>
            <input type="text" name="reg-email" id="reg-email" size="24" maxlength="32" placeholder="Email address" />
            <input type="password" name="reg-pswd" id="reg-pswd" size="24" maxlength="32" placeholder="Password" />
            <div class="row align-right reg-btn-group">
                <button class="reg-login-btn card-button">log in</button>

                <button class="reg-signup-btn card-button">sign up</button>
            </div>


        </form>
    </div>
</div>