<div class="row signin-body">
    <div class="column signin-headings">
        <p class="heading-banner">Welcome Back!</p>
        <p class="heading-banner">We Add Wings To Your Dreams!</p>
    </div>

    <div class="reg-card signin-card">
        <form action="/auth/login" method="POST" id="reg-form" class="column reg-form">
            <div class="reg-logo">
                <a href="/">dreamhigh</a>
            </div>
            <input class="card-input" type="text" name="username" id="reg-email" size="24" maxlength="32" placeholder="Username" />
            <input class="card-input" type="password" name="password" id="reg-pswd" size="24" maxlength="32" placeholder="Password" />
            {{#if loginError}}
            <a class="reg-error">{{loginError}}</a>
            {{/if}}
            <div class="row align-right reg-btn-group">
                <button class="card-highlight-btn card-button" style="color:black">log in</button>
            </div>
        </form>
    </div>
</div>