<div class="guides-list row center-items">
    <div class="column">
        <button class="guides-card card guides-card-purple">What is Business Administration</button>
        <button class="guides-card card guides-card-purple">What is STEM Education</button>

    </div>
    <div class="column">

        <button class="guides-card card guides-card-red">What is GMAT</button>
        <button class="guides-card card guides-card-red">What is GRE</button>
        <button class="guides-card card guides-card-red">What is IELTS</button>
        <button class="guides-card card guides-card-red">What is TOEFL</button>
    </div>

</div>