<!-- The overlay -->
<div id="guide-article-overlay" class="overlay">

    <!-- Button to close the overlay navigation -->
    <div class="row overlay-title-bar">
        <h1 id="guide-article-title"></h1>
        <a href="javascript:void(0)" class="close-btn" onclick="closeOverlay()">&times;</a>
    </div>

    <!-- Overlay content -->
    <div class="overlay-content markdown-body" id="guide-article-content">
    </div>

</div>


<div class="guides-list row center-items">
    <div class="column" id="guides-edu-list">
    </div>
    <div class="column" id="guides-test-list">
    </div>
</div>