
<div class="intro-table center-items">
    <ul>
        <li>
            <img src="/public/img/intro_college.svg" , height="50" , width="50", alt="UniversityFinder">
            <h1>University Finder</h1>
            <p>Hey Aspirants come find your dream universities here.All the information related to a university is displayed based on the user input .</p>
        </li>
        <li>
            <img src="/public/img/intro_data.svg" , height="50" , width="50", alt="PastAdmit">
            <h1>Past Admits & Rejects</h1>
            <p>
                All the admits/rejects(user) for a course, university of past years are displayed based on user
                input.
            </p>
        </li>

    </ul>
    <ul>
        <li>
            <img src="/public/img/intro_guide.svg" , height="50" , width="50", alt="Guides">
            <h1>Application Guides</h1>
            <p>This page acts as a guide to different information related to application process ex: Exams (GRE,
                Toefl, IELTS), Courses (Computer Science, Information systems,BIA etc).</p>
        </li>
        <li>
            <img src="/public/img/intro_forum.svg" , height="50" , width="50" , alt="StudentForum">
            <h1>Student Forum</h1>
            <p>
                A Discussion Forum to seek help from fellow students. This page allows the user to ask queries and
                reply to others query. Also view other discussions going on.
            </p>
        </li>
    </ul>
</div>

<div class="column">
    <p class="heading-banner">Top university at a glance</p>
    {{!-- <p class="sub-heading-banner">{{subHeading}}</p> --}}
</div>

<div id="college-list" class="college-list row">
</div>
