
<div class="intro-table center-items">
    <ul>
        <li>
            <img src="/public/img/intro_college.svg" , height="50" , width="50">
            <h1>University Finder</h1>
            <p>All the information related to a university is displayed based on the user input and the user can
                navigate to a program of that university, where the program information and application materials
                required is displayed.</p>
        </li>
        <li>
            <img src="/public/img/intro_data.svg" , height="50" , width="50">
            <h1>Past Admits & Rejects</h1>
            <p>
                All the admits/rejects(user) for a course, university of past 4 years are displayed based on user
                input.
            </p>
        </li>

    </ul>
    <ul>
        <li>
            <img src="/public/img/intro_guide.svg" , height="50" , width="50">
            <h1>Application Guides</h1>
            <p>This page acts as a guide to different information related to application process ex: Exams (GRE,
                Toefl, IELTS, SAT, ACT), Courses (Computer Science, Data Science, Bio Medical etc), Finance (All
                about loans, scholarship).</p>
        </li>
        <li>
            <img src="/public/img/intro_forum.svg" , height="50" , width="50">
            <h1>Student Forum</h1>
            <p>
                A Discussion Forum to seek help from fellow students. This page allows the user to ask queries and
                reply to others query. Also view other discussions going on.
            </p>
        </li>
    </ul>
</div>

<div class="column">
    <p class="heading-banner">Top university at a glance</p>
    {{!-- <p class="sub-heading-banner">{{subHeading}}</p> --}}
</div>

<div id="college-list" class="college-list row">
</div>
